<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  const Toast = Swal.mixin({
    toast: true,
    position: "top-right",
    iconColor: "#f27474",
    customClass: {
      popup: "colored-toast",
    },
    showConfirmButton: false,
    timer: 10000,
    timerProgressBar: true,
  });
    const swalAlert = async (msg) => {
    await Toast.fire({
        icon: "error",
        title: msg,
    });
    };
</script>
<% if(typeof errors != 'undefined'){ %>

<% errors.forEach(error => { %>
<script>
  swalAlert("<%= error.msg %>");
</script>
<% }) %> <% } %>

<form action="/siswa/<%= siswa.id %>?_method=PUT" method="post">
    <input type="hidden" name="oldNama" value="<%= siswa.nama || siswa.oldNama %>">
    <input type="hidden" name="id" value="<%= siswa.id %>">
  <div style="width: 80vh">
    <input
      name="nama"
      class="input is-info"
      type="xtext"
      placeholder="Nama"
      style="margin-bottom: 10px"
      value="<%= siswa.nama %>"
      required
    />
    <div style="display: flex; align-items: center; gap: 10px">
      <span>Kelas</span>
      <div class="select">
        <select value="<%= siswa.kelas %>" name="kelas" required>
          <option <% if(siswa.kelas == 10) { %> selected <% } %> value="10">10</option>
          <option <% if(siswa.kelas == 11) { %> selected <% } %> value="11">11</option>
          <option <% if(siswa.kelas == 12) { %> selected <% } %> value="12">12</option>
        </select>
      </div>
      <span>Jurusan</span>
      <div class="select">
        <select value="<%= siswa.jurusan %>" name="jurusan" required>
          <option <% if(siswa.jurusan === 'Bahasa') {%> selected <% } %> value="Bahasa">Bahasa</option>
          <option <% if(siswa.jurusan === 'Ipa') { %> selected <% } %> value="Ipa">Ipa</option>
          <option <% if(siswa.jurusan === 'Ips') { %> selected <% } %> value="Ips">Ips</option>
        </select>   
      </div>
    </div>
  </div>
  <button class="button is-success" type="submit" style="margin-top: 10px">
    Edit
  </button>
</form>
